.container {
    width: 100%;
    display: flex;
    flex-direction: row;

    /* Prevent scaled images from appearing over this element */
    z-index: 10;

    background-color: #eaeaea;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    /** Make it stick to the top of the page */
    position: sticky;
    top: 0;
}

.filter-container {
    margin: 10px;
}

.filter {
    margin-top: 5px;
}

.spacer {
    flex-grow: 1;
}

.result-count {
    text-align: center;
    align-self: center;
    margin: 0 20px;
    color: rgba(0, 0, 0, 0.7);
}
