
:global(body) {
    font-family: 'Ubuntu', sans-serif;
}

:global(body, #root) {
    min-height: 100vh;
}

:global(*) {
    box-sizing: border-box;
}

:global(.raised) {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
