
.card {
    margin: 20px 5px;
    width: 250px;
    background-color: #ffffff;
}

.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;

    transition: opacity ease-in 0.2s, transform ease-in 0.2s;
}

.card img:hover {
    transform: scale(1.1);
}

.loading {
    opacity: 0;
}

.image-container {
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.info {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.source {
    font-weight: bold;
    padding: 3px 10px 3px 3px;
}

.no-source {
    font-style: italic;
    font-weight: normal;
}

.tag {
    padding: 3px;
    color: rgba(0, 0, 0, 0.54);
}